<!DOCTYPE>
<html lang="en">
<head>
  <link href='http://fonts.googleapis.com/css?family=Poppins' rel='stylesheet' type='text/css'>
  <meta charset="utf-8">
  <title>Bookmark Manager</title>
  <link href="css/general.css" rel="stylesheet" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
   <div id="page-container">
   <div id="content-wrap">
	<header>
		<h1>Bookmark Manager</h1>
	</header>
  <nav>
        <% if session[:name] %>   
          <a href="/logout">Log Out</a>
        <% end %>
        <a href="/">Home</a>
  </nav>
	<main>
		<div class="contentSmallForm">
			<h2>Adding Bookmarks</h2>
			<form method="post" action="/adding_bookmarks">
            <p>
            Title<input name="bm_title" type="text" value="<%=@title%>">
            Description<input name="bm_description" type="text" value="<%=@description%>">
            Author<input name="bm_author" type="text" value="<%=@author%>">    
            <br><br>
            <textarea name="bm_content" placeholder="Please type your content here..." rows="5" cols="92"></textarea>    
            </p>
            <p><input type="submit" value="Add"></p>
        </form>
          <%if @validation==false %>
           <p id="failure_text">Please ensure all fields are filled correctly.</p>
          <% end %>
          <%if @duplicate==true %>
           <p id="failure_text">The title of your bookmark already exists. Please change another one</p>
          <% end %>
        </div>
	</main>
    </div>
	<footer>
		<ul>
			<li><a href="/">Back to homepage</a></li>
		</ul>
		<hr>
		<p>COM1001, 2020</p>
	</footer>
    </div>

</body>
</html>