<!DOCTYPE>
<html lang="en">
<head>
  <link href='http://fonts.googleapis.com/css?family=Poppins' rel='stylesheet' type='text/css'>
  <meta charset="utf-8">
  <title>Bookmark Manager</title>
  <link href="css/general.css" rel="stylesheet" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
   <div id="page-container">
   <div id="content-wrap">
	<header>
		<h1>Bookmark Manager</h1>
	</header>
 <nav>
        <a href="/">Home</a>
  </nav>
	<main>
		<div class="contentSmallForm">
			<h2>Create new tag</h2>          
			<form method="post" action="/create_tag">
            <p>
            Tag<input name="tag" type="text" value="<%=@tag%>">
            </p>
            <input type="submit" value="Create">
        </form>
        <form method="get" action="/">
           <input type="submit" value="Cancel"> 
        </form>
          <%if @validation==false %>
           <p id="failure_text">You should type something before you submit.</p>
          <% end %>
          <%if @duplicated_tag==true %>
           <p id="failure_text">The tag you want to create already exists. Please change a new one.</p>
          <% end %>

        </div>
	</main>
    </div>
	<footer>
		<hr>
		<p>COM1001, 2020</p>
	</footer>
    </div>

</body>
</html>