<!DOCTYPE>
<html lang="en">
<head>
  <link href='http://fonts.googleapis.com/css?family=Poppins' rel='stylesheet' type='text/css'>
  <meta charset="utf-8">
  <title>Bookmark Manager</title>
  <link href="css/general.css" rel="stylesheet" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
</head>
<body>
   <div id="page-container">
   <div id="content-wrap">
	<header>
		<h1>Bookmark Manager</h1>
	</header>
    <% if session[:name] %>
    <nav>
        <a href="/logout">Log Out</a>
	</nav>
    <% end %>
	<main>
		<div class="contentSmallForm">
			<h2>Welcome <%=@name%></h2>
			<p>Please select one of the services below.</p>
			<hr>
			<% if !session[:login] %>
	            <form  methood='get' action='/login' class="login1" >
	              <input type="submit" value="Log In">  
	            </form>
	             <form  methood='get' action='/register'>
	               <input type="submit" value="Register">  
	             </form>
	        <% end %>
	        <%if session[:role]=="admin" %>
         		<form  methood='get' action='/check_all_users'>
           			<input type="submit" value="View Users">  
         		</form> 
        	<% end %>
            <%if session[:role]=="admin" || session[:role]=="employee"  %>
            <form  methood='get' action='/adding_bookmarks'>
           		<input type="submit" value="Add Bookmarks">  
        	</form> 
            <% end %>
             <%if session[:role]=="admin" || session[:role]=="employee"  %>
            <form  methood='get' action='/my_bookmarks'>
           		<input type="submit" value="View My Bookmarks">  
        	</form> 
            <% end %>
            <% if !session[:login] %>
             <h2>View as a guest</h2>
            <%end%>
            <form  methood='get' action='/view_bookmarks'>
                  <input type="submit" value="View All Bookmarks">
            </form> 
        	
            
       
        </div>
	</main>
    </div>
	<footer>
		<hr>
		<p>COM1001, 2020</p>
	</footer>
    </div>

</body>
</html>