<!DOCTYPE>
<html>
    <head>
       <title>home</title>
    </head>
    <body>
        <p><%=@name%></p>
        <p>home</p>
        <form  methood='get' action='/login'>
          <input type="submit" value="To log in">  
        </form>
         <form  methood='get' action='/register'>
           <input type="submit" value="To register">  
        </form>
        <form  methood='get' action='/logout'>
           <input type="submit" value="logout">  
        </form> 
        <%if session[:role]=="admin" %>
         <form  methood='get' action='/check_all_users'>
           <input type="submit" value="check all users">  
         </form> 
        <% end %>
        <form  methood='get' action='/adding_bookmarks'>
           <input type="submit" value="Add bookmarks">  
        </form> 
        <script>     
            const params = new URLSearchParams(window.location.search);
            if (params.has('alert1')) {
                alert('You need to logout first');
            }
              if (params.has('alert2')) {
                alert('You need to login first');
            }
        </script>
        
        
    </body>
</html>