<!DOCTYPE>
<html>
    <head>
       <title>home</title>
    </head>
    <body>
        <p><%=@name%></p>
        <p>home</p>
        <form  methood='get' action='/login'>
          <input type="submit" value="To log in">  
        </form>
         <form  methood='get' action='/register'>
           <input type="submit" value="To register">  
         </form>
        <form  methood='get' action='/logout'>
           <input type="submit" value="logout">  
        </form>      
    </body>
</html>