<!DOCTYPE>
<html>
    <head>
       <title>home</title>
    </head>
    <body>
        <p>You can log out now</p>
        <form  methood='get' action='/'>
           <input type="submit" value="logout">  
        </form>      
    </body>
</html>