<!DOCTYPE>
<html lang="en">
<head>
  <link href='http://fonts.googleapis.com/css?family=Poppins' rel='stylesheet' type='text/css'>
  <meta charset="utf-8">
  <title>Bookmark Manager</title>
   <link href="../../css/general.css" rel="stylesheet" type="text/css" />
  <link href="../css/general.css" rel="stylesheet" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
   <div id="page-container">
   <div id="content-wrap">
  <header>
    <h1>Bookmark Manager</h1>
  </header>
  <nav>
        <a href="/check_all_users/details">Back to details</a>
  </nav>
  <main>
    <div class="contentSmallForm">
      <h2>Set password for <%=@firstname%> <%=@surname%></h2>
      <form method="post" action="/check_all_users/details/set_password">
            <input type="hidden" name="id" value="<%=@id%>">
            <p>New Password:<input type="text" name="new_password" value="<%@newPassword%>"></p>
            <input type="submit" value="Submit">
      </form>
       <form method="get" action="/check_all_users/details">
           <input type="hidden" name="id" value="<%=@id%>">
           <input type="submit" value="Cancel"> 
        </form> 
        <%if @validation==false %>
          <p id=failure_text>You should type something before you submit.</p>
        <% end %>
    </div>
        
  </main>
  </div>
  <footer>
    <hr>
    <p>COM1001, 2020</p>
  </footer>
  </div>

</body>
</html>