<!DOCTYPE>
<html>
    <head>
       <title>set password</title>
    </head>
    <body>
          <form method="post" action="/check_all_users/details/set_password">
            <input type="hidden" name="id" value="<%=@id%>">
            new password<input type="text" name="new_password" value="<%@newPassword%>">
            <input type="submit" value="Submit">
          </form>
    </body>

</html>