<!DOCTYPE>
<html>
    <head>
       <title>login page</title>
    </head>
    <body>
       <%if @validation==false&& %>
          <p>Invalid username and password combination</p>
       <% end %>
      
        <form method='post' action="/login">
           <p>
            username:<input name="name" type="text" value="<%=@name%>" autocomplete="off">
            </p>
            <p>
            password:<input name="password" type="password" value="<%=@password%>" autocomplete="off">
            </p>
            <input type="submit" value="log in">
        </form>
    </body>
</html>