<!DOCTYPE>
<html lang="en">
<head>
  <link href='http://fonts.googleapis.com/css?family=Poppins' rel='stylesheet' type='text/css'>
  <meta charset="utf-8">
  <title>Bookmark Manager</title>
  <link href="css/general.css" rel="stylesheet" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<header>
		<h1>Bookmark Manager</h1>
	</header>
    <nav>
		<a href="/register">Register</a>
        <a href="/">Home</a>
	</nav>
	<main>
		<div class="contentSmallForm">
			<h2>Log In</h2>
			<form method='post' action="/login">
           <p>
            Username:<input name="name" type="text" value="<%=@name%>">
            </p>
            <p>
            Password:<input name="password" type="password" value="<%=@password%>">
            </p>
            <input type="submit" value="Login">
        </form>
        <%if @validation==false&& %>
          <p id="failure_text">Invalid Username or Password. Please try again.</p>
       <% end %>
       <%if @suspend==true %>
          <p id="failure_text">YYour account has been suspended. Please contact admin.</p>
       <% end %> 
	</main>
	<footer>
		<ul>
			<li><a href="/">Back to homepage</a></li>
		</ul>
		<hr>
		<p>COM1001, 2020</p>
	</footer>

</body>




</html>