<!DOCTYPE>
<html lang="en">
<head>
  <link href='http://fonts.googleapis.com/css?family=Poppins' rel='stylesheet' type='text/css'>
  <meta charset="utf-8">
  <title>Bookmark Manager</title>
  <link href="css/general.css" rel="stylesheet" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
   <div id="page-container">
   <div id="content-wrap">
	<header>
		<h1>Bookmark Manager</h1>
	</header>
    <nav>
        <a href="/">Home</a>
  </nav>
	<main>
		<div class="contentSmallForm">
			<h2>View Requests</h2>

      <div class="TableHolder">
          <table>
              <th>User</th><th>Request Content</th><th>Read/Unread</th><th></th>
               <% @list.each do |request| %>
              <tr>
                  <td><%=request[:username]%></td>
                  <td style="word-wrap: break-word;"><%=request[:content]%></td>
                  <td>
                  <% if request[:read] == 1 %>
                      <form method="post" action="/view_request/read">
                      <p><input type="hidden" name="idr" value="<%=request[:id]%>"></p>
                      <input type="submit" value="Mark as read">
                      </form>
                  <% end %>
                  <% if request[:read] == 0 %>
                      <form method="post" action="/view_request/unread">
                      <p><input type="hidden" name="idu" value="<%=request[:id]%>"></p>
                      <input type="submit" value="Mark as unread">
                      </form>
                  <% end %>
                  </td>
                  <% if request[:read] == 1 %>
                  <td class="r">Unread</td>
                  <% end %>
                  <% if request[:read] == 0 %>
                  <td class="r">Read</td>
                  <% end %>
              </tr>
              <% end %>
         </table>
      </div>
     </div>
	</main>
    </div>
	<footer>
		<hr>
		<p>COM1001, 2020</p>
	</footer>
    </div>
</body>
</html>